body {
  background-color: lightgray;
}

.trafic-lights-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  background-color: white;
}

.redbox {
  width: 250px;
  height: 250px;
  background-color: red;
  margin: 20px;
  border: solid darkred 20px;
}

.yellowbox {
  width: 250px;
  height: 250px;
  background-color: yellow;
  margin: 20px;
  border: solid darkgoldenrod 20px;

}

.greenbox {
  width: 250px;
  height: 250px;
  background-color: green;
  margin: 20px;
  border: solid darkgreen 20px;
}


/* --------- */
/* Second */
/* --------- */

.container2 {
  background-color: white;
  margin-left: 64px;
}

.redbox2 {
  width: 250px;
  height: 250px;
  background-color: red;
  margin: 20px;
  border: solid darkred 20px;
  display: flex;
  justify-content: end;
  align-items: end;
}

.inner-red {
  width: 100%;
  height: 50%;
  background-color: lightcoral;
}


.yellowbox2 {
  width: 250px;
  height: 250px;
  background-color: yellow;
  margin: 20px;
  border: solid darkgoldenrod 20px;
  display: flex;
  justify-content: end;
  align-items: end;
}

.inner-yellow {
  width: 50%;
  height: 50%;
  background-color: lightyellow;
}


.greenbox2 {
  width: 250px;
  height: 250px;
  background-color: green;
  margin: 20px;
  border: solid darkgreen 20px;
  display: flex;
  justify-content: start;
  align-items: end
}

.inner-green {
  width: 50%;
  height: 50%;
  background-color: lightgreen;
}